{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Adopción</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
    <div class="main-card">
        <h2>Actualizar Adopción</h2>

        <form method="post">
            {% csrf_token %}
            
            <label for="run_cliente">RUN Cliente:</label>
            <input type="text" name="run_cliente" id="run_cliente" value="{{ adopcion.run_cliente }}" required>

            <label for="nombre_mascota">Nombre Mascota:</label>
            <input type="text" name="nombre_mascota" id="nombre_mascota" value="{{ adopcion.nombre_mascota }}" required>

            <label for="id_mascota">ID Mascota:</label>
            <input type="text" name="id_mascota" id="id_mascota" value="{{ adopcion.id_mascota }}" required>

            <label for="detalle">Detalle:</label>
            <textarea name="detalle" id="detalle" rows="4">{{ adopcion.detalle }}</textarea>

            <button type="submit">Actualizar Adopción</button>
        </form>

        <br>
        <a href="{% url 'listas' %}" class="btn-volver">Volver al listado</a>
    </div>
</body>
</html>