{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva Adopción</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
    <div class="main-card">
        <h2>Registrar Adopción</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_run_cliente">RUN del Cliente:</label>
            {{ form.run_cliente }}

            <label for="id_nombre_mascota">Nombre de la Mascota:</label>
            {{ form.nombre_mascota }}

            <label for="id_id_mascota">ID de la Mascota:</label>
            {{ form.id_mascota }}

            <label for="id_detalle">Detalle:</label>
            {{ form.detalle }}

            <button type="submit">Guardar Adopción</button>
        </form>
    </div>
</body>
</html>
