{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi Página Web</title>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
  <header>
    <h1>Bienvenido a Mi Página</h1>
    <nav>
      <ul class="nav-links">
        <li><a href="/galeria">Galería</a></li>
        <li><a href="/admin">Administración</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
